*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.aao{
    background-color: rgb(230, 119, 119);
    color: white;
}
.heading{
  text-align: center;  
  font-size: 2rem;
}
.section{
    background-color: rgb(156, 196, 196);
    color: white;
}
.left{
    text-align: right;
}